<div class="text-center">
  <h2 class="my-3 fw-bold">心理テストを通して、自分を知ろう</h2>
  <h4>人それぞれ「心の在り方」は違います。</h4>
  <h4>心理テストを回答し、結果を振り返ることで、</h4>
  <h4>自分の心を知り、成長につなげましょう！</h4>
  <small class="mt-3">※Psykarte ＝ PsychologyTest（心理テスト）のKarte（カルテ）</small>

  <div class="row row-cols-1 row-cols-md-2 justify-content-center d-flex mt-3">
    <div class="card mx-3 mb-1 shadow-sm" style="width: 16rem">
      <div class="card-body p-2">
        <p class="card-title mb-3">初めてご利用の方</p>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary px-3" %>
      </div>
    </div>

    <div class="card mx-3 mb-1 shadow-sm" style="width: 16rem">
      <div class="card-body p-2">
        <p class="card-title mb-3">アカウントをお持ちの方</p>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary px-3" %>
      </div>
    </div>

    <div class="card mx-3 mb-1 shadow-sm" style="width: 16rem">
      <div class="card-body p-2">
        <p class="card-title mb-3">心理テストを見てみたい方</p>
        <%= link_to "心理テスト一覧", psychology_tests_path, class: "btn btn-primary px-3" %>
      </div>
    </div>

  </div>
</div>
