<%# ログアウトした時のレイアウト補正用 %>
<%= image_tag asset_path("top.jpeg") ,{class:"top-image top-image-sub", alt:"PsykarteTOP"} %>
<%# end %>
<h1>「Psykarte（サイカルテ）」のホーム画面（仮）</h1>
<p>Psykarte ＝ PsychologyTest（心理テスト）のKarte（カルテ）</p>
