@import "~bootstrap/scss/bootstrap.scss";

// BIアイコンテスト 終わったら削除
.bi-pencil {
  font-size: 1rem;
  color: red;
}

.alert {
  padding: 0;
  margin-bottom: 0;
}

hr.question-border {
  border-top: 1px dashed #bbb;
}