@import "~bootstrap/scss/bootstrap.scss";

// BIアイコンテスト 終わったら削除
.bi-pencil {
  font-size: 1rem;
  color: red;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 48px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.alert {
  padding: 0;
  margin-bottom: 0;
}

hr.question-border {
  border-top: 1px dashed #bbb;
}