
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 48px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

hr.question-border {
  border-top: 1px dashed #bbb;
}

.file-field {
  margin-top: 20px;
}

.actions {
  margin: 20px 0;
}

.form-control {
  width: 80%;
}

.input-group > .form-control {
  flex: 0 1 auto;
  width: 60%;
}

.favorite-button {
  border-style: none;
  background: none;
}

.star-fill {
  fill: yellow;
  stroke: rgb(195, 195, 195);
}

.star {
  width: 30px;
  height: 30px;
  color: rgb(195, 195, 195);
}

.star-search {
  width: 0.875rem;
  height: 0.875rem;
  fill: yellow;
  stroke: rgb(195, 195, 195);
  vertical-align: 0.1px;
}

.category-search {
  background: rgb(234, 236, 239);
  border-style: solid;
  border-radius: 0.2rem;
  border-color: rgb(207, 212, 217);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.answer-chart > canvas {
  margin-bottom: 100px;
}

.bg-info {
  background-color: #3c9cb7 !important;
}

.top-image {
margin: 0 calc(50% - 50vw);
width: 100vw;
margin-top: -20px;
}

.top-image-sub {
margin-top: -80px;
}