<h1>心理テスト一覧</h1>

<p>タイトルとカテゴリ検索欄（実装前）</p>
<hr>

<% @psychology_tests.each do |p_test| %>
  <h2><%= link_to p_test.title, psychology_test_path(p_test) %></h2>
  <p><strong><%= p_test.description %></strong></p>
  <small>
    参照元:
    <%= link_to p_test.referrer, p_test.referrer_url, target: :_blank, rel: "noopener noreferrer" %>
  </small>
  <%= render "favorites/favorite_button" , p_test: p_test%>
  <hr>
<% end %>
